<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDuration</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>JustShoot needs camera access to capture photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>JustShoot saves your captured photos to the photo library.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>JustShoot uses your location to tag photos with where they were taken.</string>
</dict>
</plist>
